* {box-sizing: border-box}

/* Navigation bar */
.navbar {
  overflow: hidden;
  background-color: #adebb3;
  position: fixed; 
  top: 0; 
  width: 100%; 
  font-family: Chalkduster, fantasy;
  font-size: 30px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 19px;
  padding-left: 10px;
  text-decoration: none;
  width: 20%;
}
.navbar a.active {
  background-color: #adebb3;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ffffff;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 100px;
justify-content: center;
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 40px;
  font-family: Georgia, serif;
}

h1{
   text-align: center;
}
